@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
<div ng-view></div>
<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-route.js"></script>
<script src="~/Scripts/angular/myApp/Modulo/myAppModule.js"></script>
<script src="~/Scripts/angular/myApp/myAppService.js"></script>
<script src="~/Scripts/angular/myApp/Controller/catalogoCtrl.js"></script>
