<div class="modal-dialog modal-lg" data-backdrop="static" data-keyboard="false" role="dialog">
    <div class="modal-content">
        <div class="modal-header">
            <h3 class="modal-title">HOLA</h3>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer"></div>
    </div>
</div>

