<div ng-app="myApp">
    <ng-view></ng-view>
</div>


<script src="~/Scripts/angular/angular.js"></script>
<script src="~/Scripts/angular/angular-route.js"></script>
<script src="~/App/app.js"></script>
<script src="~/App/Shared/appService.js"></script>
<script src="~/App/Controller/appController.js"></script>